<h2 class="mt-3">Comment</h2>
<%= form_with model: [book, book_comment] do |f| %>
  <div style="width: 750px;"><%= f.text_area :comment, rows: '5', placeholder: "comment", class: "form-control" %></div>
  <div style="width: 750px;"><%= f.submit "POST", class: "btn btn-primary btn-block mt-3" %></div>
<% end %>